/*
 * TODO: essential, which has to loaded on demand
*/

.window-manager {
    position: relative;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal .back-drop {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

.modal .window {
    background: white;

    padding: 20px;
    width: 400px;
    height: 300px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
}