<Server xmlns="srv.core"
        xmlns:handler="srv.handler"
        xmlns:endpoint="srv.endpoint" xmlns:data="srv.data"
        xmlns:restHandler="rest.handler" xmlns:restData="rest.data"
        xmlns:conf="js.conf"
        xmlns:auth="srv.auth">

    <EndPoints>
        <endpoint:HttpEndPoint port="8080"/>
    </EndPoints>

    <data:MongoDataSource cid="appDataSource" database="{ENV().database}">
        <restData:TicketDataSourceConfiguration/>
    </data:MongoDataSource>

    <!-- DataSource for Identites and Authentications -->
    <data:MongoDataSource cid="authDataSource" database="{ENV().database}">
        <conf:DataSourceConfiguration>
            <conf:ResourceConfiguration modelClassName="srv.core.Identity" path="identities"/>
            <conf:ResourceConfiguration modelClassName="srv.core.Authentication" path="authentications" upsert="true"/>
        </conf:DataSourceConfiguration>
    </data:MongoDataSource>

    <IdentityService cid="identityService" dataSource="{authDataSource}"/>

    <AuthenticationService userDataSource="{appDataSource}"
                           dataSource="{authDataSource}"
                           identityService="{identityService}"
                           userModelClassName="rest.model.User">
        <auth:DataSourceAuthenticationProvider dataSource="{appDataSource}"
                                               usernameField="email"
                                               userModelClassName="rest.model.User"/>
    </AuthenticationService>

    <AuthorizationService>

    </AuthorizationService>

    <Handlers>
        <handler:AuthenticationHandler/>
        <handler:RegistrationHandler/>
        <handler:RestHandler dataSource="{appDataSource}">
            <restData:TicketDataSourceConfiguration/>

            <restHandler:TicketResourceHandler modelClassName="rest.model.Ticket"/>
        </handler:RestHandler>
        <handler:StaticFileHandler/>
    </Handlers>
</Server>
